/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mars 2015, 10:53:32
    Author     : lganne
*/

#formule, #presentation
{
    width:40%;
    display: inline-block;
    padding:3%;
}

#presentation p
{
    border: solid 1px #262626;
    padding:5%;
}

#petitlogo
{
    width:200px;
    margin:auto;
}

#petitlogo img
{
    max-width: 80%;
}

.formname {	
  /*text-align:center;*/
  font-size: 1.5em;
  font-weight:bold;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
  font-family:sans-serif;
  color:#666;
  border-bottom: 1px solid lightgray;
  padding-bottom:20px;
  width:80%;
  margin:auto;
}

*:focus {
    outline: 0;
}

form {
display: block;
margin-top: 0em;
  
}



input, textarea,option {

  font-weight: 90;
  width: 70%;
  margin: 8px 0;
  text-indent: 1em;
  padding: 10px 0;
  border-radius: 3px;
  border: 1px solid lightgray;
}
input[type="radio"]{
    margin:0;
    padding:1px;
    
}



input[type="submit"] {
     width: 10%;
  font-weight: bold;
    background-color: #3e87ec;
  color: white;
  border: 0px solid #3079ed;
  transition:all 0.5s;
}

input[type="submit"]:hover {
  background-color: #2963b3;
  color: white;
}

#container{  
  width:250px;
  border: 1px solid lightgray;
  padding:10px;
	background-color:#fff;

  
}

a{
  color: #427fed;
cursor: pointer;  
  text-decoration:none;
  
}
#formEnt{
    width:80%;
     margin: auto;
    padding: 2%;
}

#siren
{
    width: 200px;
}