@font-face {
    font-family: 'y2k_neophyteregular';
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.eot');
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.woff2') format('woff2'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.woff') format('woff'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.ttf') format('truetype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.svg#y2k_neophyteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'y2k_neophyteitalic';
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.eot');
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.woff') format('woff'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.svg#y2k_neophyteitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body { width: 100%; height: 100%;}
body { font-family: verdana, sans-serif;}
.container { position: relative; left: 0; overflow-x: hidden; font-size: 12px; color: #7d7d7d;}
header, section, footer { position: relative; width: 100%; min-height: 100%;}
section, footer { padding: 50px;}
header { background: url(../img/fond-home.jpg) no-repeat center fixed; background-size: cover; -webkit-background-size: cover;}
h1, h2, h3, h4, h5, h6 { font-family: 'y2k_neophyteregular', verdana, sans-serif; text-transform: uppercase;}
h1 { font-size: 2em;}
h2 { font-size: 1em;}
p { font-size: 1em;}
ul { list-style: none;}
a { text-decoration: none;}

/* Menu */
.menu-btn-active { display: none;}
.menu-btn, .menu-btn-active { position: fixed; top: 25px; z-index: 9999; color: #fff0d9; font-size: 3em; cursor: pointer}
nav { position: fixed; top: 0; left: -250px; z-index: 1000; width: 250px; height: 100%; overflow: auto; font-size: 1em;}
nav,
.container { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}
nav.menu-open { left: 0px;}
.menu-push { left: 250px;}
nav img { display: block; margin: 0 auto;}
.menu { width: auto; height: auto;}
.menu a { text-decoration: none; color: #717070;}
.menu > li > a { background-color: rgba(255,240,217,1); border-bottom: 1px solid #33373d; width: 100%;height: 3em; line-height: 3em; text-indent: 3em; display: block;position: relative;transition: all 500ms;}
.menu ul li a { background-color: rgba(255,240,217,0.4); border-bottom: 1px solid #efeff0; width: 100%; padding-left: 2.50em; line-height: 2.50em; display: block; position: relative; font-size: 0.9em; transition: all 500ms;}
.menu > li > a:hover, .menu > li > a.active { background-color: #cfa783;}
.menu > li > ul li:hover a { color: #32373D;}
.active { color: #c5bca3;}
.active > li > a { background-color: rgba(197,188,163,0.8);}
.active ul li a { background-color: rgba(197,188,163,0.4);}
.active > li > a:hover, .active > li > a.active { background-color: #c5bca3;}

/* connection bar */
#header_crossbar { position: absolute; top: 0; right: 0; z-index: 9999; padding: 5px 10px; background: rgba(153,153,153,0.6);}
#header_crossbar > a, #search, #lang { display: inline-block;}
#header_crossbar > a { height: 25px; padding: 0 8px; line-height: 25px; text-decoration: none; color: #717070;}
#search input[name=search] { padding-left: 5px; border: none; border-radius: 20px; -webkit-box-shadow: inset 2px 2px 1px 0px #c0c0c0; box-shadow: inset 2px 2px 1px 0px #c0c0c0; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=1);}
#search input[type=submit] { width: 24px; height: 24px; border: none; background-color: inherit; background: url(../img/search.png) no-repeat; text-indent: -9999px; cursor: pointer;}
#lang select { border: none; background-color: inherit;}
#login_content { display: none; position: absolute; top: 36px; left: 0; z-index: 999; width: 100%; padding: 15px 15px 0; background: #c5bca3;}
#login_content label, #login_content input[type=submit] { display: block;}
#login_content input[type=text], #login_content input[type=password] { width: 100%;}
#login_content input[type=submit] { margin: 15px auto 0; padding: 10px; border:none; border-radius: 50% 50% 0px 0px; background-color: #f1696b; color: #fff; text-align: center; cursor: pointer; transition: all 500ms;}
#login_content input[type=submit]:hover { color: #32373D;}

/* bubble */
.sign_up, .services, .mobility, .community {display: block; position: absolute; text-align: center; text-decoration: none; font-size: 1.2em; color: #686560; text-transform: uppercase; transition: all 500ms;}
.services, .mobility, .community { top: 60%; width: 200px; height: 200px; line-height: 200px; border-radius: 50%; background-color: rgba(255,255,255,0.5);}
.services:hover, .mobility:hover, .community:hover { background-color: rgba(255,255,255,1);}
.sign_up span, .services span, .mobility span, .community span { vertical-align:middle; display:inline-block; line-height:normal;}
.sign_up { top: 10%; left: 12%; width: 300px; height: 300px; line-height: 200px;
} 
.sign_up strong { text-transform: uppercase; color: #f1696b;}
.services { left: 15%;}
.mobility { left: 45%;}
.community { left: 75%;}

/* teaser */
header h1 { position: absolute; top: 12%; right: 12%; font-family: 'y2k_neophyteregular', verdana, sans-serif; font-size: 4em; text-transform: inherit; text-align: right; color: #fff;}
header h1 strong { text-transform: uppercase; color: #ffefd8;}

/* scroll */
header .scroll_down { background: url(../img/picto/fleche-scroll-blanche.png) no-repeat;}
section .scroll_down, #scroll_up { background: url(../img/picto/fleche-scroll.png) no-repeat;}
#scroll_up, .scroll_down { bottom: 10px; width: 53px; height: 16px; text-indent: -9999px;}
#scroll_up { display: none; position: fixed; right: 10px; width: 64px; transform: rotate(180deg);}
.scroll_down { position: absolute; left: 50%;}


/* section */
#mobility, #community { background-color: #fff;}
#mobility h2 { color: #c5bca3;}
#services { background-color: #c5bca3;}
footer { background-color: green; height: 20%;}

/* HOME */
#services > div, #mobility > div, #community > div, #services ul, #mobility ul { display: inline-block; vertical-align: top; max-height: 100%; padding: 20px;}
#services > div, #mobility > div, #community > div { width: 40%;}
#services h1, #mobility h1, #community h1, #services li, #mobility li { margin-bottom: 50px;}
#services ul, #mobility ul { width: 60%;}
#services li, #mobility li { min-height: 104px; padding-left: 123px;}
#services li p, #mobility li p { margin: 20px 0;}
#services ul li a, #mobility ul li a { float: right; font-size: 0.9em;}
#services, #community { background-color: #fff;}
#services h2, #services a { color: #f1696b;}
#services ul li:nth-child(1) { background: url(../img/picto/home_services/picto-politique.png) no-repeat;}
#services ul li:nth-child(2) { background: url(../img/picto/home_services/picto-integration.png) no-repeat;}
#services ul li:nth-child(3) { background: url(../img/picto/home_services/picto-marque-employeur.png) no-repeat;}
#services ul li:nth-child(4) { background: url(../img/picto/home_services/picto-engagement.png) no-repeat;}
#mobility, footer { background-color: #c5bca3;}
#mobility h1, #mobility p, footer h1, footer p { color: #302f2f;}
#mobility h2, #mobility a, footer h2, footer a { color: #fff8e7;}
#mobility ul li:nth-child(1) { background: url(../img/picto/home_mobility/picto-assistance.png) no-repeat;}
#mobility ul li:nth-child(2) { background: url(../img/picto/home_mobility/picto-logement.png) no-repeat;}
#mobility ul li:nth-child(3) { background: url(../img/picto/home_mobility/picto-administratif.png) no-repeat;}
#mobility ul li:nth-child(4) { background: url(../img/picto/home_mobility/picto-immigre.png) no-repeat;}
#mobility ul li:nth-child(5) { background: url(../img/picto/home_mobility/picto-famille.png) no-repeat;}
#community img { display: inline-block; max-width: 60%;}
#footer_info, #footer_mention, #footer_society, #footer_newsletter, #footer_hub, #footer_partner { display: inline-block; vertical-align: top; height: 33.33%; text-align: center;}
#footer_info, #footer_mention, #footer_society {width: 33.33%;}
#footer_newsletter, #footer_hub { width: 50%;}
#footer_partner { width: 100%;}
#footer_partner ul li { display: inline-block; margin: 10px;}
#footer_partner ul li a { display: block; width: 100px; height: 100px; border-radius: 50%; background-color: #fff;}

/* DETAILS */
section #logo_top { display: block; width: 120px; height: 85px; margin: 0 auto;}

/* SIGN_UP PAGE */
#formule, #presentation
{
    width:40%;
    display: inline-block;
    padding:3%;
}

#presentation p
{
    border: solid 1px #262626;
    padding:5%;
}

#petitlogo
{
    width:200px;
    margin:auto;
}

#petitlogo img
{
    max-width: 80%;
}

.formname { 
  /*text-align:center;*/
  font-size: 1.5em;
  font-weight:bold;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
  font-family:sans-serif;
  color:#666;
  border-bottom: 1px solid lightgray;
  padding-bottom:20px;
  width:80%;
  margin:auto;
}

*:focus {
    outline: 0;
}

form {
display: block;
margin-top: 0em;
  
}



/* input, textarea,option {

  font-weight: 90;
  width: 70%;
  margin: 8px 0;
  text-indent: 1em;
  padding: 10px 0;
  border-radius: 3px;
  border: 1px solid lightgray;
} */
input[type="radio"]{
    margin:0;
    padding:1px;
    
}



/* input[type="submit"] {
     width: 10%;
  font-weight: bold;
    background-color: #3e87ec;
  color: white;
  border: 0px solid #3079ed;
  transition:all 0.5s;
}

input[type="submit"]:hover {
  background-color: #2963b3;
  color: white;
} */

#container{  
  width:250px;
  border: 1px solid lightgray;
  padding:10px;
    background-color:#fff;

  
}

a{
  color: #427fed;
cursor: pointer;  
  text-decoration:none;
  
}
#formEnt{
    width:80%;
     margin: auto;
    padding: 2%;
}

#siren
{
    width: 200px;
}


//>>>>>>> 33529e80d3c92512a0f890fea6a8293810ffab07
