@font-face {
    font-family: 'y2k_neophyteregular';
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.eot');
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.woff2') format('woff2'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.woff') format('woff'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.ttf') format('truetype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-webfont.svg#y2k_neophyteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'y2k_neophyteitalic';
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.eot');
    src: url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.woff') format('woff'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Y2K_Neophyte/Y2KNeophyte-Italic-webfont.svg#y2k_neophyteitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body { width: 100%; height: 100%;}
body { font-family: verdana, sans-serif;}
.container { position: relative; left: 0; overflow-x: hidden; font-size: 12px; color: #7d7d7d;}
header, section, footer { position: relative; width: 100%; min-height: 100%;}
section, footer { padding: 50px;}
header, #home { background: url(../img/fond-home.jpg) no-repeat center fixed; background-size: cover; -webkit-background-size: cover;}
h1, h2, h3, h4, h5, h6 { font-family: 'y2k_neophyteregular', verdana, sans-serif; text-transform: uppercase;}
h1 { font-size: 2em;}
h2 { font-size: 1em;}
p { font-size: 1em;}
ul { list-style: none;}
a { text-decoration: none; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms;}
a:hover { color: #7d7d7d !important;}
input, textarea, select { color: #7d7d7d;}

/* Menu */
.menu-btn-active { display: none;}
.menu-btn, .menu-btn-active { position: fixed; top: 25px; z-index: 9999; color: #fff0d9; font-size: 3em; cursor: pointer}
nav { position: fixed; top: 0; left: -250px; z-index: 1000; width: 250px; height: 100%; background-color: rgba(255,240,217,0.4); overflow: auto; font-size: 1em;}
nav,
.container { -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; transition: all 300ms ease;}
nav.menu-open { left: 0px;}
.menu-push { left: 250px;}
nav img { display: block; margin: 0 auto;}
.menu { width: auto; height: auto;}
.menu a { text-decoration: none; color: #717070;}
.menu > li > a { background-color: rgba(255,240,217,1); border-bottom: 1px solid #33373d; width: 100%;height: 3em; line-height: 3em; text-indent: 3em; display: block;position: relative; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms}
.menu ul li a { background-color: rgba(255,240,217,0.4); border-bottom: 1px solid #efeff0; width: 100%; padding-left: 2.50em; line-height: 2.50em; display: block; position: relative; font-size: 0.9em; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms}
.menu > li > a:hover, .menu > li > a.active { background-color: #cfa783;}
.menu > li > ul li:hover a { color: #32373D;}

.active { color: #c5bca3;}
.active > li > a { background-color: rgba(197,188,163,0.8);}
.active ul li a { background-color: rgba(197,188,163,0.4);}
.active > li > a:hover, .active > li > a.active { background-color: #c5bca3;}

/* connection bar */
#header_crossbar { position: absolute; top: 0; right: 0; z-index: 9999; padding: 5px 10px; background: rgba(153,153,153,0.6);}
#header_crossbar > a, #search, #lang { display: inline-block;}
#header_crossbar > a { height: 25px; padding: 0 8px; line-height: 25px; text-decoration: none; color: #717070;}
#search input[name=search] { padding: 3px 5px; border: none; border-radius: 20px; -webkit-box-shadow: inset 2px 2px 1px 0px #c0c0c0; -moz-box-shadow: inset 2px 2px 1px 0px #c0c0c0; box-shadow: inset 2px 2px 1px 0px #c0c0c0; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=1);}
#search input[type=submit] { width: 22px; height: 17px; border: none; background-color: inherit; background: url(../img/picto/picto-loupe.png) no-repeat; text-indent: -9999px; cursor: pointer;}
#lang select { border: none; background-color: inherit;}
#login_content { display: none; z-index: 999;}
#login_content, .error { position: absolute; top: 36px; left: 0; width: 100%; padding: 15px 15px 0; background: #c5bca3;}
.error { z-index: 998; padding-bottom: 15px;}
#login_content label, #login_content input[type=submit] { display: block;}
#login_content input[type=text], #login_content input[type=password] { width: 100%;}
#login_content input[type=submit] { margin: 15px auto 0; padding: 10px; border:none; border-radius: 50% 50% 0px 0px; background-color: #f1696b; color: #fff; text-align: center; cursor: pointer; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms}
#login_content input[type=submit]:hover { color: #32373D;}

/* HOME */
#home, #home a { color: #484549;}
#home > div { width: 100%;}
.home_top p, .home_bottom p, #home a { font-weight: bold; text-transform: uppercase; text-align: center;}
.home_top p { display: inline-block; vertical-align: top; width: 25%; padding-top: 25px; background: url(../img/picto/mini-fleche-blanche.png) no-repeat 50% 0; font-size: 1.2em;}
.home_middle, .home_middle img { margin: 50px auto 50px;}
.home_middle img { display: block;}
.home_middle h1 { text-align: center;}
.home_middle h1 strong { color: #f1696b;}
.home_bottom div { display: inline-block; vertical-align: top;}
.home_bottom div p { color: #fff;}
.home_bottom div div { width: 300px; height: 150px; border-radius: 15px;}
.home_bottom div div a { display: block; width: 100%; height: 100%; line-height: 150px; font-size: 2em;}
.home_bottom div:nth-child(1) div, .home_bottom div:nth-child(2) div { border: 3px solid #fff; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms}
.home_bottom div:nth-child(1) div:hover, .home_bottom div:nth-child(2) div:hover { background-color: rgba(255,255,255,1);}
.home_bottom div:nth-child(1) a span { vertical-align: middle; display:inline-block; line-height:normal;}
.home_bottom div + div { float: right;}

/* bubble */
.sign_up, .services, .mobility, .community { display: block; position: absolute; text-align: center; text-decoration: none; font-size: 1.2em; color: #686560; text-transform: uppercase; -webkit-transition: all 500ms; -moz-transition: all 500ms; transition: all 500ms}
.services, .mobility, .community { top: 60%; width: 200px; height: 200px; line-height: 200px; border-radius: 50%; background-color: rgba(255,255,255,0.5);}
.services:hover, .mobility:hover, .community:hover { background-color: rgba(255,255,255,1);}
.sign_up span, .services span, .mobility span, .community span { vertical-align: bottom; display:inline-block; line-height:normal;}
.services span, .mobility span, .community span { padding-bottom: 50px;}
.sign_up { top: 9%; left: 11%; width: 276px; height: 275px; border-radius: 50%; background: url(../img/logo-french-bulle.png) no-repeat; line-height: 200px;
}
.sign_up:after { position: absolute; content: ""; background: url(../img/picto/home/picto-membre.png) no-repeat; bottom: 80px; right: 20px; width: 72px; height: 81px;}
.sign_up span { vertical-align: bottom;}
.sign_up strong { text-transform: uppercase; color: #f1696b;}
.services { left: 15%; background-image: url(../img/picto/home/picto-audit.png); background-repeat: no-repeat; background-position: 50% 25%}
.mobility { left: 45%; background-image: url(../img/picto/home/picto-mobilite.png); background-repeat: no-repeat; background-position: 50% 25%}
.community { left: 75%; background-image: url(../img/picto/home/picto-french-clhub.png); background-repeat: no-repeat; background-position: 50% 25%}

/* teaser */
header h1 { position: absolute; top: 12%; right: 12%; font-family: 'y2k_neophyteregular', verdana, sans-serif; font-size: 4em; text-transform: inherit; text-align: right; color: #fff;}
header h1 strong { text-transform: uppercase; color: #ffefd8;}

/* scroll */
header .scroll_down { background: url(../img/picto/fleche-scroll-blanche.png) no-repeat;}
section .scroll_down, #scroll_up { background: url(../img/picto/fleche-scroll.png) no-repeat;}
#scroll_up, .scroll_down { bottom: 0; width: 53px; height: 16px; text-indent: -9999px;}
#scroll_up { display: none; position: fixed; right: 10px; width: 64px; transform: rotate(180deg);}
.scroll_down { position: absolute; left: 50%;}


/* section */
#mobility, #community { background-color: #fff;}
#mobility h2 { color: #c5bca3;}
#services { background-color: #c5bca3;}

/* PRESENTATION */
#services > div, #mobility > div, #community > div, #services ul, #mobility ul { display: inline-block; vertical-align: middle; max-height: 100%; padding: 50px;}
#services > div, #mobility > div, #community > div { width: 40%; height: 100%;}
#services h1, #mobility h1, #community h1, #services li, #mobility li { margin-bottom: 50px;}
#services ul, #mobility ul { width: 60%;}
#services li, #mobility li { min-height: 104px; padding-left: 123px;}
#services li p, #mobility li p { margin: 20px 0;}
#services ul li a, #mobility ul li a { float: right; font-size: 0.9em;}
#services, #community { background-color: #fff;}
#services h2, #services a { color: #f1696b;}
#services ul li:nth-child(1) { background: url(../img/picto/home_services/picto-politique.png) no-repeat;}
#services ul li:nth-child(2) { background: url(../img/picto/home_services/picto-integration.png) no-repeat;}
#services ul li:nth-child(3) { background: url(../img/picto/home_services/picto-marque-employeur.png) no-repeat;}
#services ul li:nth-child(4) { background: url(../img/picto/home_services/picto-engagement.png) no-repeat;}
#mobility, footer { background-color: #c5bca3;}
#mobility h1, #mobility p, footer h1, footer h2, footer h3, footer p { color: #302f2f;}
#mobility h2, #mobility a, footer h2, footer li, footer a { color: #fff8e7;}
#mobility ul li:nth-child(1) { background: url(../img/picto/home_mobility/picto-assistance.png) no-repeat;}
#mobility ul li:nth-child(2) { background: url(../img/picto/home_mobility/picto-logement.png) no-repeat;}
#mobility ul li:nth-child(3) { background: url(../img/picto/home_mobility/picto-administratif.png) no-repeat;}
#mobility ul li:nth-child(4) { background: url(../img/picto/home_mobility/picto-immigre.png) no-repeat;}
#mobility ul li:nth-child(5) { background: url(../img/picto/home_mobility/picto-famille.png) no-repeat;}
#community img { display: block; max-width: 100%; margin: auto;}

/* FOOTER */
#footer_info, #footer_mention, #footer_society, #footer_newsletter, #footer_hub, #footer_partner { display: inline-block; vertical-align: top; height: 33%; padding: 20px; text-align: center;}
#footer_info, #footer_mention, #footer_society { width: 33.33%;}
#footer_mention ul { border-left: 1px solid #fff8e7; border-right: 1px solid #fff8e7;}
#footer_info ul, #footer_mention ul, #footer_society ul { padding: 10px 40px; list-style: initial;}
#footer_info li, #footer_mention li, #footer_society li { margin: 10px 0; text-align: left;}
#footer_newsletter, #footer_hub { width: 40%; margin: 20px 5%; padding: 20px; border: 3px solid #fff8e7; border-radius: 20px;}
#footer_newsletter p, #footer_hub p { margin: 10px;}
#footer_newsletter input[type="mail"] { margin-top: 20px; padding: 5px 3px; border: none; border-radius: 5px;}
#footer_newsletter input[type="submit"] { background-color: inherit; border: none; color: #fff8e7; cursor: pointer;}
#footer_hub ul li { display: inline-block; height: 54px;}
#footer_hub ul li a { display: block; width: 100%; height: 100%; text-indent: -9999px;}
#footer_hub ul li:nth-child(1) a { width: 30px; background: url(../img/picto/sprite-reseaux.png) no-repeat top left;}
#footer_hub ul li:nth-child(1) a:hover { background: url(../img/picto/sprite-reseaux.png) no-repeat left 105%;}
#footer_hub ul li:nth-child(2) a { width: 37px; margin: 0 50px; background: url(../img/picto/sprite-reseaux.png) no-repeat 47% top;}
#footer_hub ul li:nth-child(2) a:hover { background: url(../img/picto/sprite-reseaux.png) no-repeat 47% 105%;}
#footer_hub ul li:nth-child(3) a { width: 45px; background: url(../img/picto/sprite-reseaux.png) no-repeat 98% top;}
#footer_hub ul li:nth-child(3) a:hover { background: url(../img/picto/sprite-reseaux.png) no-repeat 98% 105%;}
#footer_partner { width: 100%;}
#footer_partner ul li { display: inline-block; margin: 10px 5%; vertical-align: middle;}
#footer_partner ul li a { display: block; text-indent: -9999px;}
#footer_partner ul li:nth-child(1) a { width: 96px; height: 65px; background: url(../img/picto/partenaires/logo-hec.png) no-repeat;}
#footer_partner ul li:nth-child(2) a { width: 85px; height: 51px; background: url(../img/picto/partenaires/logo-gouv.png) no-repeat;}
#footer_partner ul li:nth-child(3) a { width: 61px; height: 62px; background: url(../img/picto/partenaires/logo-american.png) no-repeat;}
#footer_partner ul li:nth-child(4) a { width: 63px; height: 63px; background: url(../img/picto/partenaires/logo-figaro.png) no-repeat;}
#footer_partner ul li:nth-child(5) a { width: 93px; height: 30px; background: url(../img/picto/partenaires/logo-etudiant.png) no-repeat;}

/* DETAILS */
.standard #logo_top { display: block; width: 120px; height: 85px; margin: 0 auto;}
.standard h1, .standard h2 { text-align: center;}
.standard h1 { position: relative; margin: 30px;}
.standard .return { position: absolute; display: block; top: 0; left: 0; width: 16px; height: 27px; background: url(../img/picto/fleche-retour.png) no-repeat; text-indent: -9999px;}

.details .details_content { width: 80%; margin: 0 auto; padding: 20px; border: 1px solid #f1696b; border-radius: 20px;}
.details h2 { padding-top: 100px; margin-bottom: 20px; background: url(../img/picto/picto-logement.png) no-repeat 50% 0; color: #f1696b;}
.details .devis { position: relative; width: 100%; height: 100px; text-align: right;}
.details .devis p { position: absolute; bottom: 50px; right: 87px;}
.details .devis a { position: absolute; bottom: 0; right: 20px; padding: 10px 50px; border-radius: 5px; box-shadow: none; background-color: #f1696b; color: #fff; cursor: pointer; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s}
.details .devis a:hover { background-color: #7d7d7d; color: #fff !important;}

/* SIGN_UP PAGE */
#sign_up_content h2 { color: #f1696b;}
#sign_up_content p { margin-top: 20px; text-align: left;}
#newsLetter { margin-left: 10px;}
#formule table td, .register .full table { display: inline-block; vertical-align: top; width: 33.33%;}
#formule table td { padding: 5px 10px;}
#formule table td:nth-child(1) { width: 60%; border: 1px solid #7d7d7d; border-radius: 5px;}
#formule table td:nth-child(2) { width: 30%; padding-right: 5px; text-align: right;}
#formule table td:nth-child(3) { width: 10%;}
#formule p { margin: 20px 0 40px;}

/* QUOTATION */
#quotation #part_1 , #quotation #part_2 { margin: 20px 0;}
#quotation #part_1 table, #quotation #part_2 table { display: inline-block; vertical-align: top;}
#quotation #part_1 table { width: 33.33%;}
#quotation #part_1 table:nth-child(2) { border-left: 1px solid #eee; border-right: 1px solid #eee;}
#quotation #part_2 table:nth-child(1) { width: 66.66%; border-right: 1px solid #eee;}
#quotation #part_2 table:nth-child(1) td { width: 50%;}
#quotation #part_2 table:nth-child(2) { width: 33.33%;}
#quotation input[type="submit"] { bottom: 70px;}

/* MEMBER */
#member h1 strong, #member h3 { color: #f1696b;}
#member h3 { text-transform: lowercase;}
#member .listing { max-height: 225px; overflow-y: scroll;}
#member .listing td { display: inline-block; vertical-align: top; width: 100%;}

/* FORM */
.form p, .form h3 { text-align: center;}
.form table tbody, .form table tr { display: block; width: 100%;}
.form table th { display: block; margin-bottom: 10px; font-family: 'y2k_neophyteregular', verdana, sans-serif; color: #f1696b;}
.form table tr td p { text-align: left;}
.form .left, .form .right { display: inline-block; vertical-align: top;}
.form .left, .form .right, .form .middle { width: 50%; margin: 20px 0;}
.form .left { padding: 20px 20px 20px 0;}
.form .middle { margin: 0 auto; padding: 20px;}
.form .right { padding: 20px 0 20px 20px;}
.form .left table, .form .right table, .form .middle table { width: 100%;}
.form .left td, .form .right td, .form .middle td { display: inline-block; width: 50%; margin: 10px 0;}
.form_content .underline { position: relative; margin: 40px 0;}
.form_content .underline:after { position: absolute; content: ""; bottom: -20px; left: 0; width: 100%; height: 2px; background-color: #eee;}
.form .full table td { display: inline-block; padding-left: 30px; margin: 10px 0;}
.form .full { width: 100%; padding: 20px;}
.form input[type="submit"] { position: absolute; bottom: 20px; right: 20px;; padding: 10px 50px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-color: #f1696b; color: #fff; cursor: pointer; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s}
.form input[type="submit"]:hover { background-color: #7d7d7d;}
.form input[type="text"], .form input[type="email"], .form input[type="tel"] { width: 80%;}
.form input, .form textarea { padding: 5px 15px; border: 1px solid #eee;  background: none; border-radius: 5px; -webkit-box-shadow: inset 2px 2px 1px 0px #c0c0c0; -moz-box-shadow: inset 2px 2px 1px 0px #c0c0c0; box-shadow: inset 2px 2px 1px 0px #c0c0c0; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=1);}
.form select, .form textarea[id="description"] { max-width: 80%;}
.form label[for="description"] { display: block; margin-bottom: 10px;}
.form textarea[id="description"] { min-height: 100px; border-radius: 20px;}
.form .champs { text-align: left;}

/* MESSAGE */
.siren { visibility:hidden;}
.sirenFr { visibility: visible;}
.mess { display: block; width:80%; margin: auto; padding:1%; background-color: rgba(197,188,163,0.8); font-size: 16px; text-align: center;}
