{% extends 'base.html.twig' %}
{% block body %}
<section id="community" class="content" data-id="active_content">
    <h2>{{ titre}}</h2>
    <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque elementum nulla commodo posuere faucibus. <br>
                Morbi ante risus, malesuada nec efficitur vitae, dignissim sit amet nunc. 
                Cras at purus hendrerit, hendrerit ipsum eu, laoreet tortor. <br>
                Sed condimentum sapien a tempor elementum. Suspendisse nisi est, tempus et sagittis eget, ornare ac urna. 
                Nunc aliquam ornare orci, eu ultricies sapien interdum ac. <br>
                Praesent et elementum dui. Sed efficitur porta augue, tempus consectetur nulla.
                Fusce et venenatis diam. <br>
                Etiam non interdum quam. Vivamus fermentum ligula lacinia nunc porttitor, nec hendrerit tellus convallis. 
            </p>
            
            <a href="/recontacter">être recontacter</a>
            </section>
 {% endblock %}