{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../css/style.css " />             
{% endblock %}

{% block body %}

<section class="form content form_content standard" data-id="active_content">
    <a href="/accueil" id="logo_top"><img src="../img/logo-french.png" alt="Logo de MyFrenchHub"></a>
    <h1>Etre recontacté</h1><br>
    {% if (message3 !=null ) %}
        <span class="mess"> {{ message3 }} </span>
    {% endif %}
        <form method='post' action='/contact'>
            <table class=" middle">
            <tr>
                <td>
                    <label for='societe'>Dénomination</label>
                </td><!--
             --><td>
                    <input type='text' name='societe' required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="contact">Contact principal</label>
                </td><!--
             --><td>
                    <input type="text" name="contact" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fonction">Fonction</label> 
                </td><!--
             --><td>
                    <input type="text" name="fonction" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td><!--
             --><td>
                    <input type="email" name="email" required >
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <label for="pays">pays</label>
                </td><!--
             --><td>  
                <select name="select">
                    {% for pays in nomPays %}
                        <option value="value1">{{pays.nom_fr_fr}}</option> 
                    {% endfor%}
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Tel">Tel</label>
                </td><!--
             --><td>
                    <input type="tel" name="tel" required >
                </td>
            </tr>
        </table>
        <input type="submit" name="valider" value="valider">
    </form>  
</section>
                        
{% endblock%}
                            
{% block javascripts %}

    <script type="text/javascript" src="../../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../js/frenchHub.js"></script>

{% endblock %}