<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MyFrenchHub!{% endblock %}</title>
	{% block stylesheets %}
                   <link rel="stylesheet" type="text/css" href="css/style.css " />
                      
	{% endblock %}
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
</head>
	<body>
	{% block body %}
        <div id="header_crossbar">
                <div id="connection">
                    <p class="login">Connexion</p>
                    <div class="form">
                        <form action="login_check" method="post" >
                            <label for="login">Login</label> :   <input type="login" name="login" >      
                            <label>password</label>    <input type="password" name="password" >     
                            <input type="submit" name="valider" value="valider">

                        </form>
                    </div>
                    <p class="logout">Bonjour, Kevin ! <a href="#">Deconnexion</a>
                </div>
                <div id="lang">
                    <select>
                        <option value="fr">fr</option>
                        <option value="en">en</option>
                    </select>
                </div>
            </div>
            
			<a href="#" id="scrollup">Scroll</a>

			{% block page %}
			{% endblock%}

			<footer>
			<h1>Footer</h1>
			</footer>

			{% block javascripts %}
			<script type="text/javascript" src="js/frenchHub.js"></script>
			{% endblock %}
		{% endblock %}
	</body>

</html>
