<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MyFrenchHub!{% endblock %}</title>
	{% block stylesheets %}
       <link rel="stylesheet" type="text/css" href="css/style.css " />          
	{% endblock %}
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
      
     <!--[if lte IE 9]>
     <link rel="stylesheet" href="css/style-ie.css" />
     <![endif]-->
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
</head>
	<body class="container">
        <nav>
            <img src="../img/logo-french.png" alt="Logo de MyFrenchHub">
            <ul class="menu change_color">
                <li class="item1"><a href="/accueil">Accueil</a>
                </li>
                <li class="item2"><a href="#services">Audit et conseils</a>
                    <ul>
                        <li class="subitem1"><a href="/formation/Formation1">&#187; Politique de mobilité et besoins</a></li>
                        <li class="subitem2"><a href="/formation/Formation2">&#187; Assistance intégration</a></li>
                        <li class="subitem3"><a href="/formation/Formation3">&#187; Marque employeur</a></li>
                        <li class="subitem4"><a href="/formation/Formation3">&#187; Engagement qualité</a></li>
                    </ul>
                </li>
                <li class="item3"><a href="#mobility">Mobilité internationale</a>
                    <ul>
                        <li class="subitem1"><a href="/relocation/assistance">&#187; Assistance Départ et Arrivé</a></li>
                        <li class="subitem2"><a href="/relocation/logement">&#187; Logement</a></li>
                        <li class="subitem3"><a href="/relocation/administration">&#187; Administration</a></li>
                        <li class="subitem4"><a href="/relocation/immigration">&#187; Immigration</a></li>
                        <li class="subitem5"><a href="/relocation/famille">&#187; Famille</a></li>
                    </ul>
                </li>
                <li class="item4"><a href="#community">Hub</a>
                    <ul>
                        <li class="subitem1"><a href="#">&#187; Experts</a></li>
                        <li class="subitem2"><a href="#">&#187; Communauté</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
        <a class="menu-btn change_color">&#9776;</a>
        <a class="menu-btn-active change_color">X</a>
        <div id="header_crossbar">       
            {% if(session==nul) %}
                <a href="#">Connexion<span>▼</span></a>
                <div id="login_content">
                    <form action="loginValidation" method="post" >
                        <label for="login">Login</label><input type="text" name="login" id="login" />      
                        <label for="pass">password</label><input type="password" name="password" id="pass" />     
                        <input type="submit" name="valider" value="valider">
                    </form> 
                </div>
            {% else %}
                <p >Bonjour, {{ session}} ! <a href="/logout">Deconnexion</a>
            {% endif%}
             
            {% if (message !=null ) %}
                <div>
                    {{ message }}
                </div>
            {% endif %}

            <div id="search">
                <form action="search.php" method="Post">
                    <input type="text" name="search" size="10" />
                    <input type="submit" value="Ok" />
                </form>
            </div>
            <div id="lang">
                <select>
                    <option value="fr">fr</option>
                    <option value="en">en</option>
                </select>
            </div>
        </div>
        
    	{% block body %}
        {% endblock %}

		<footer class="content" id="footer">
    		<ul id="footer_info">
                <li><h3>Informations</h3></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
            </ul><!--
         --><ul id="footer_mention">
                <li><h3>Mentions légales</h3></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
            </ul><!--
         --><ul id="footer_society">
                <li><h3>Notre société</h3></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
                <li><a href="">bla bla bla</a></li>
            </ul>
            <div id="footer_newsletter">
                <h3>Newsletter</h3>
                <p>bla bla bla</p>
                <a href="">Inscrivez-vous</a>
            </div><!--
         --><div id="footer_hub">
                <h3>Rejoignez-nous</h3>
                <p>bla bla bla</p>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Linkedin</a></li>
                </ul>
            </div>
            <div id="footer_partner">
                <h3>Nos partenaires</h3>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
		</footer>

        <!-- scroll top -->
        <a href="#top" id="scroll_up" class=" change_color">^</a>

		{% block javascripts %}
		  <script type="text/javascript" src="js/frenchHub.js"></script>
		{% endblock %}
    </body>

</html>
