{% extends 'base.html.twig' %}

{% block body %}

    <header class="content" id="top">
        <section id="menu">        
            <!-- bubble navigation --> 
            <a href="/sinscrire" class="sign_up"><span>Devenez<br /><strong>membre</strong></span></a>
            <a href="#services" class="services"><span>Audit<br />et conseils</span></a>
            <a href="#mobility" class="mobility"><span>Services<br />de mobilités</span></a>
            <a href="#community" class="community"><span>My French<br />cl'hub</span></a>

            <!-- teaser sentence -->
            <p class="teaser">Solutions<br /><strong>to move</strong><br />to France</p>

            <a href="#services" id="scroll_down">Descendre</a>
        </section>
    </header>
    <section id="services" class="content" data-id="active_content">
        <h1>SECTION 1</h1>
        

    </section>
    <section id="mobility" class="content">
      

    </section>
    <section id="community" class="content" data-id="active_content">
        <h1>SECTION 3</h1>
        
    
        
    </section>
        
{% endblock %}

