{% extends 'base.html.twig' %}
{% block stylesheets %}
       {{parent()}}| <link rel="stylesheet" type="text/css" href="css/formulaire.css " />          
{% endblock %}
 {% block body %}
      <div class="content standard" >
         <a href="/accueil" id="logo_top"><img src="../img/logo-french.png" alt="Logo de MyFrenchHub"></a>
    </div>
      <section class="content standard" >
             <h1>Espace Salarier</h1>
             <span class="mess">En travaux</span>
      </section>
    {% endblock %}